@import "colors.css";

/*     For the linux-notification-center (deadd)    */
.deadd-noti-center {
  /*font-family: JetBrains Mono Medium;*/
  font-family: Siji;
}
image.deadd-noti-center.notification.image {
  margin-left: 1.5em;
  margin-bottom: 1.5em;
  margin-top: 1.5em;
}

label.deadd-noti-center.noti-center.time {
  font-size: 500px;
}
